@import "fonts";
@import "settings";
@import "foundation";
@import "../components/components";

#sidebar {
  //padding: 0 !important;
  //background: #f9f9f9 !important;
  background: #f9f9f9;
  border-right: 1px solid #e7e7e7;
  // transition-timing-function: cubic-bezier(.76, -.245, .24, 1.245);
}

.search-box-outer{
  flex: 1;
}

.search-label{
  margin-bottom: 0;
}

.card-result-comment {
  margin-top: .75rem;
  .card-get-started,
  .card-no-results {
    text-align: center;
  }
}

.label.secondary{
  @extend %label;
  @include label-style($secondary-color, isitlight($secondary-color));
}

.sort-button svg.iconic-sm {
  height: 16px;
  width: 16px;
}

@include breakpoint(medium) {
  .title-bar .right .action-sheet {
    width:250px;
    left:auto;
    right:0;
    top:100%;
    bottom:auto;
    transform:translateX(0) translateY(0);
    -webkit-transform:translateX(0) translateY(0);
    transition:none;
    &:before, &:after {left:auto;right:25px;}
  }
}

//customise
a {
  color: #0000EE;
  padding-bottom: 10px;
}

.title-bar {
  flex-wrap: wrap-reverse;
  .portal-link {
    margin-bottom: 10px;
  }
  .search-box input {
    border-radius: 5px 0 0 5px;
  }
  .button {
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
  }
  .search-label a {
    height: 2.4rem;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.filters-list {
  width: 100%;
  padding: 15px;
  h4 {
    font-size: 1em;
    font-weight: 600;
    color: #0a1163;
    margin-top: 10px;
  }
  label,
  a,
  a:hover,
  a:focus,
  a:visited,
  a:link {
    color: #0a127b;
  }
  label, input[type="checkbox"] + label {
    display: inline;
  }
  .filter-block {
    margin-bottom: 15px;
  }
  .filter-item {
    display: block;
    color: #0a127b;
    margin: 0.5em;
  }
  .filter-item-active {
    color: #000;
  }
  select {
    border-radius: 5px;
    height: 35px;
  }
  .filter-checkbox-group {
    margin: 0.5em;
  }
  .filter-input-group {
    display: flex;
    margin-left: 0.5em;
    input {
      border-radius: 5px 0 0 5px;
      height: 35px;
    }
    button {
      border-radius: 0 5px 5px 0;
      border: 1px solid #ccc;
      height: 35px;
      padding: 0 15px;
    }
  }
}
.result-data {
  display: flex;
  justify-content: space-between;
  .result-count span {
    font-weight: bold;
  }
  .result-sort {
    sort select {
      width: auto;
      display: inline-block;
      height: 25px;
      padding: 0 1.5em 0 0.5em;
      margin-left: 0.5em;
      border-radius: 5px;
    }
  }
}

.main-tabs {
  list-style-type: none;
  margin-top: 10px;
  li {
    display: inline-block;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    &.active {
      border: 1px solid #ccc;
      border-bottom: none;
    }
  }
}

.document-row {
  display: inline-block;
}

.pencil-icon {
  width: 50px;
  padding: 10px;
  vertical-align: top;
}
.document {
  .detail {
    position: relative;
    .right-col {
      position: absolute;
      right: 0;
    }
    .action-buttons {
      top: 60px;
      .small-icon {
        width: 25px;
        img {
          width: inherit;
        }
      }
    }
    .rate {
      width: 100px;
      top: 30px;
      img {
        width: 15px;
      }
    }
  }
  .document-details {
    position: relative;
    margin-left: 50px;
    padding: 20px;
    background: #ddd;
    border-radius: 20px;
    .close-button {
      font-size: 20px;
      background: none;
      border: none;
      padding: 10px 20px;
    }
  }
}

.main-content {
  .card {
    box-shadow: none;
    .card-result-tip {
      background: #fff4df;
      border: 1px solid #ffedc9;
      color: #b68c39;
    }

    .card-close-button {
      float: right;
      color: #b68c39;
    }
  }

}

.modal-overlay {
  background-color: rgba(51, 51, 51, 0.701961);
}

.advanced-search-modal-content {
  p {
    font-weight: bold;
  }

  button {
    margin: 10px;
  }

}
