<div mass-autocomplete class="search-box">
  <input type="text"
      class="query-input"
      ng-model="ta.dirty.value"
      mass-autocomplete-item="ta.autocomplete_options"
      ng-keydown="ta.checkKeyPress($event)"/>

  <div class="search-bar no-results-message align-justify grid-block" ng-show="ta.dirty.value && ta.noResults">
    <div class="small-4 grid-block">
      <span>{{ta.noResultsMessage}}</span>
    </div>

    <div class="small-8 align-right grid-block">
      <a href="#" zf-open="search-tips-modal">Search Tips</a>
      <a ng-click="hc.resetSearch();">Reset Search</a>
      <a href="#" zf-open="advanced-search-modal">Advanced Search</a>
    </div>
  </div>
</div>




