.pagination.menu-bar {
  justify-content: center;
  li {
    max-width: 2.5em;
    height: 2.5em;
    a {
      padding: 13px 0;
      color: #4B4B4B;
      border: 1px solid rgba(162, 144, 96, 0.39);
    }
    &:hover {
      background: #F7F7F7;
    }
  }
  li.active {
    background: #A29060;
    a {
      color: #fff;
      border: 1px solid #A29060;
    }
  }
}
