<div class="facet-pivot-cards row small-up-1 medium-up-2 large-up-3">

  <!-- Accounting -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Accounting.png"/>
        <div>
        <a
          href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Accounting'))),q:'*',rows:10,start:0,wt:json)">Accounting</a>
        </div>
      </div>
      <div class="card-section">
        <h5>We Love Accounting</h5>
        <p>This is the generic text that describes all of the things that we love about Accounting. This is the rest of
          the generic text that describes all of the rest of the things that we love about Accounting.</p>
      </div>
    </div>
  </div>

  <!-- Data Management -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Data Management.png"/>
        <div>
          <a
            href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Data Management%27))),q:%27*%27,rows:10,start:0,wt:json)">Data
            Management</a>
        </div>
      </div>
      <div class="card-section">
        <div>
		   <div id="Data-Management" class="hierarchy-level-2">
            <p class="level-2-content">
              <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Data+Management%27))),q:%27*%27,rows:10,start:0,wt:json)">Data Management</a>
            </p>
          </div>
          <div id="Information-Delivery" class="hierarchy-level-2">
            <p class="level-2-content">
              <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Information+Delivery%27))),q:%27*%27,rows:10,start:0,wt:json)">Information Delivery</a>
            </p>
          </div>
		  <div id="Metadata" class="hierarchy-level-2">
            <p class="level-2-content">
              <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Metadata%27))),q:%27*%27,rows:10,start:0,wt:json)">Metadata</a>
            </p>
          </div>
		  <div id="Portfolio-Data" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Portfolio+Data%27))),q:%27*%27,rows:10,start:0,wt:json)">Portfolio Data</a>
            </p>
          </div>
          <div id="Reference-Data" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Reference+Data%27))),q:%27*%27,rows:10,start:0,wt:json)">Reference Data</a>
            </p>
          </div>     
        </div>        
      </div>
    </div>
  </div>
  <!-- Performance & Risk -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Performance.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Performance'))),q:'*',rows:10,start:0,wt:json)">Performance
            & Risk</a>
        </div>
      </div>
      <div class="card-section">        
          <h5>Need blurb for Performance</h5>
        <p>This is the generic text that describes all of the things that we love about Performance. This is the rest of
          the generic text that describes all of the rest of the things that we love about Performance.</p>        
      </div>
    </div>
  </div>

  <!-- Enterprise -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Enterprise.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Enterprise'))),q:'*',rows:10,start:0,wt:json)">Enterprise</a>
        </div>
      </div>
      <div class="card-section">
        <div>
          <div id="Automation" class="hierarchy-level-2">
            <p class="level-2-content">
              <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Automation%27))),q:%27*%27,rows:10,start:0,wt:json)">Automation</a>
            </p>
          </div>
          <div id="Data-Integration" class="hierarchy-level-2">
            <p class="level-2-content">
              <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Data+Integration%27))),q:%27*%27,rows:10,start:0,wt:json)">Data Integration</a>
            </p>
          </div>
          <div id="System-Management" class="hierarchy-level-2">
            <p class="level-2-content">
              <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27System+Management%27))),q:%27*%27,rows:10,start:0,wt:json)">System Management</a>
            </p>
          </div>
          <div id="User Administration" class="hierarchy-level-2">
            <p class="level-2-content">
              <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27User+Administration%27))),q:%27*%27,rows:10,start:0,wt:json)">User Administration</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services Offered -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Services Offered.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Services Offere'))),q:'*',rows:10,start:0,wt:json)">Services
            Offered</a>
        </div>
      </div>
      <div class="card-section">
	  
          <div id="Backup-and-Recovery" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Backup+and+Recovery%27))),q:%27*%27,rows:10,start:0,wt:json)">Backup and Recovery</a>
            </p>
          </div>
		  
          <div id="Data-Center" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Data+Center%27))),q:%27*%27,rows:10,start:0,wt:json)">Data Center</a>
            </p>
          </div>
		  
          <div id="Database" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Database%27))),q:%27*%27,rows:10,start:0,wt:json)">Database</a>
            </p>
          </div>
		  
          <div id="Environment" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Environment%27))),q:%27*%27,rows:10,start:0,wt:json)">Environment</a>
            </p>
          </div>
		  <div id="Networking" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Networking%27))),q:%27*%27,rows:10,start:0,wt:json)">Networking</a>
            </p>
          </div>
		  
          <div id="Servers" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Servers%27))),q:%27*%27,rows:10,start:0,wt:json)">Servers</a>
            </p>
          </div>
		  
          <div id="Third-Party-Software" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Third-Party-Software%27))),q:%27*%27,rows:10,start:0,wt:json)">Third Party Software</a>
            </p>
          </div>
        
      
    </div>
	</div>
  </div>

  <!-- Documentation -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Reference Data.png"/>
        <div>
          <a href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Reference Data%27))),q:%27*%27,rows:10,start:0,wt:json)">Product Documentation</a>
        </div>
      </div>
      <div class="card-section">
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Guides</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Release Notes</a></p></div>
      </div>
    </div>
  </div>
 
  

  <!-- Corporate Overview & Solutions -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Accounting.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Corporate Overview'))),q:'*',rows:10,start:0,wt:json)">Corporate
            Overview & Solutions</a>
        </div>
      </div>
      <div class="card-section">
        <h5>Need blurb for Coporate OverView and Solutions</h5>
        <p>This is the generic text that describes all of the things that we love about <a href="#" >Coporate OverView and Solutions</a>. This is the rest of
          the generic text that describes all of the rest of the things that we love about Coporate OverView and Solutions.</p>  
	  </div>

    </div>
  </div>
</div>

