<div class="facet-pivot-cards row small-up-1 medium-up-2 large-up-3">

  <!-- Accounting -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Accounting.png"/>
        <div>
        <a
          href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Accounting'))),q:'*',rows:10,start:0,wt:json)">Accounting</a>
        </div>
      </div>
      <div class="card-section">
        <h5>We Love Accounting</h5>
        <p>This is the generic text that describes all of the things that we love about Accounting. This is the rest of
          the generic text that describes all of the rest of the things that we love about Accounting.</p>
      </div>
    </div>
  </div>

  <!-- Data Management -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Data Management.png"/>
        <div>
          <a
            href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Data Management%27))),q:%27*%27,rows:10,start:0,wt:json)">Data
            Management</a>
        </div>
      </div>
      <div class="card-section">
        <div
          ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount() track by $index">
          <div ng-if="facet.title==='Information Delivery'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='Reference Data'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='Data Management'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
        </div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Metadata</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Portfolio Data</a></p></div>
      </div>
    </div>
  </div>
  <!-- Performance & Risk -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Performance.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Performance'))),q:'*',rows:10,start:0,wt:json)">Performance
            & Risk</a>
        </div>
      </div>
      <div class="card-section">
        <div
          ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount() track by $index">
          <div ng-if="facet.title==='Performance'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='Performance & Risk'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Enterprise -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Enterprise.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Enterprise'))),q:'*',rows:10,start:0,wt:json)">Enterprise</a>
        </div>
      </div>
      <div class="card-section">
        <div
          ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount() track by $index">
          <div ng-if="facet.title==='Automation'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='Data Integration'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='System Management'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='User Administration'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services Offered -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Services Offered.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Services Offere'))),q:'*',rows:10,start:0,wt:json)">Services
            Offered</a>
        </div>
      </div>
      <div class="card-section">
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Backup and Recovery</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Data Center</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Database</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Environment</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Networking</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Servers</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Third Party Software</a></p></div>
      </div>
    </div>
  </div>

  <!-- Documentation -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Reference Data.png"/>
        <div>
          <a
            href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27Reference Data%27))),q:%27*%27,rows:10,start:0,wt:json)">Documentation</a>
        </div>
      </div>
      <div class="card-section">
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Guides</a></p></div>
        <div class="hierarchy-level-2"><p class="level-2-content"><a href="#">Release Notes</a></p></div>
      </div>
    </div>
  </div>

  <!-- Corporate Overview & Solutions -->
  <div class="column">
    <div class="facet-card card">
      <div class="facet-card-title">
        <img src="/assets/img/card-icons/Accounting.png"/>
        <div>
          <a
            href="search?query=(fq:('0':(key:Category2,tag:'',transformer:'fq:field',values:('0':'Corporate Overview'))),q:'*',rows:10,start:0,wt:json)">Corporate
            Overview & Solutions</a>
        </div>
      </div>
      <div class="card-section">
        <div ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount() track by $index">
          <div ng-if="facet.title==='Accounting'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='Corporate Overview'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='Data Management'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>
          <div ng-if="facet.title==='Performance & Risk'" class="hierarchy-level-2">
            <p class="level-2-content">
              <a
                href="search?query=(fq:(%270%27:(key:Category2,tag:%27%27,transformer:%27fq:field%27,values:(%270%27:%27{{facet.titleEscaped}}%27))),q:%27*%27,rows:10,start:0,wt:json)">{{facet.title}}
                ({{facet.amount}})</a>
            </p>
          </div>

        </div>
        <p class="level-2-content">
          <a href="#">Eagle ACCESS</a>
        </p>
      </div>
    </div>
  </div>
</div>

