---
name: cards
url: /cards
controller: HomeController as hc
---
  <!-- Top Bar -->
  <nav class="title-bar">
    <span class="center">
      <form name="searchForm" ng-submit="hc.search()">
        <span class="inline-label search-label">
          <search-box query="hc.searchQuery" on-select="hc.search()" class="search-box-outer"></search-box>
          <a href="#" class="secondary button" ng-click="hc.search()"><img
            zf-iconic=""
            icon="magnifying-glass"
            data-direction="top"
            size="small"
            class="iconic-color-secondary"></a>
        </span>
      </form>
    </span>
  </nav>

  <!-- Main Content Frame -->
  <facet-pivot-cards is-loading="vm.isLoading"></facet-pivot-cards>
