<!--<zf-offcanvas position="left"></zf-offcanvas>-->
<div class="grid-frame vertical">

  <!-- Top Bar -->
  <nav class="title-bar" ng-mouseleave="hc.closeSearchBar()">
    <span class="center">
      <form name="searchForm" >
        <span class="inline-label search-label">
          <a ng-if="$state.current.name == 'home'" href="#" class="button" ng-click="$state.go('cards')">
            <img
              zf-iconic=""
              icon="chevron"
              data-direction="left"
              size="small"
              class="iconic-color-secondary">
          </a>
          <search-box query="hc.searchQuery" on-select="hc.search()" class="search-box-outer"></search-box>
          <a href="#" class="button" ng-click="hc.search()">
            <img
              zf-iconic=""
              icon="magnifying-glass"
              data-direction="top"
              size="small"
              class="iconic-color-secondary">
          </a>
        </span>
      </form>
    </span>
  </nav>

  <!-- Main Content Frame -->
  <div ng-if="$state.current.name == 'home'" class="grid-block vertical" ng-include="'templates/home_main-content-frame.html'"></div>

  <div class="grid-block vertical" ng-if="$state.current.name == 'cards'">
    <facet-pivot-cards  is-loading="vm.isLoading"></facet-pivot-cards>
  </div>
<!--  <div style="
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 5px solid red;
    background-color: gray;
    trans">
    Authentication...
  </div>-->



<!-- Advanced Search Modal -->

<div zf-modal id="advanced-search-modal" class="advanced-search-modal grid-frame">
  <a zf-close class="close-button">&times;</a>
  <div class="advanced-search-modal-header">
    <h3>Advanced Search</h3>
  </div>
  <div  class="advanced-search-modal-content">
    <p>Find solutions that have...</p>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>All of the words</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.allWords" />
      </div>
    </div>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>Exact phrase</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.exactPhrase" />
      </div>
    </div>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>Any of the words</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.anyWords" />
      </div>
    </div>
    <p>Do not show solutions that have</p>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>Unwanted words</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.noWords" />
      </div>
    </div>
  </div>
  <div class="grid-block advanced-search-modal-footer">
    <button zf-close class="button-action" ng-click="hc.formQuery();">Search</button>
    <button class="button-cancel" zf-close>Cancel</button>
  </div>
</div>
  <!-- Document Modal -->

<div zf-modal id="document-modal" class="grid-frame">
  <a zf-close class="close-button">&times;</a>
  <iframe  src="{{hc.getDocumentUrl()}}" name="iframe" height="600" width="90%" ></iframe>
</div>

  <!-- Search Tips Modal -->

<div zf-modal id="search-tips-modal" class="advanced-search-modal grid-frame search-tips-modal">
  <a zf-close class="close-button">&times;</a>
  <div class="advanced-search-modal-header">
    <h3>Search Tips</h3>
  </div>
  <div  class="advanced-search-modal-content">
    <h4>Union</h4>
    <ul>
      <li>cats dogs<li>
      <li>cats OR dogs<li>
    </ul>

    <h4>Intersect</h4>
    <p>
      Most of the time, you will want to remember to explicitly AND terms together:
    </p>
    <ul>
      <li>cats AND dogs<li>
      <li>+cats +dogs<li>
    </ul>

    <h4>Nesting</h4>
    <p>
      (+cats +dogs) (+"peanut butter" +jelly)
    </p>

    <h4>Subtraction</h4>
    <p>
      Minus (-) excludes a term from results, and automatically ANDs it with the rest of the query.
    </p>
    <ul>
      <li>cats -dogs<li>
      <li>cats AND NOT dogs<li>
    </ul>

    <h4>Union</h4>
    <p>
      cats dogs<br/>
      cats OR dogs
    </p>

    <h4>Phrases</h4>
    <p>
      "grumpy cat"
    </p>

    <h4>Wildcards</h4>
    <p>
      Question mark (?) matches a single, arbitrary character.
    </p>
    <p>
      Asterisk (*) matches any word or phrase.
    </p>
    <ul>
      <li>cats</li>
      <li>c?ts</li>
      <li>+khtml +like +Gecko</li>
      <li>+khtml +like +Geck?</li>
      <li>"khtml like Geck\?"</li>
      <li>+"khtml, like" +Ge*</li>
      <li>"khtml, like \*"</li>
      <li>error\:</li>
    </ul>
    <h6>Notes:</h6>
    <ol>
      <li>Wildcards and other special characters (e.g., +, -, &, |, !, (, ), {, }, [, ], ^, ", ~, *, ?, :, and \) need to be escaped (e.g., \?, \?) when used inside phrases/strings, or searched for as a literal.</li>
      <li>An asterisk cannot be used as the first character of a term (e.g., *oogle is bad syntax).</li>
    </ol>

    <h4>Fuzzy searches</h4>
    <p>
      Lucene can search for similar terms:

      integer~
      will match on integer, integers, and intejer.
    </p>
    <h6>Specify a threshold</h6>
    <p>An optional fuzziness threshold can be specified, from 0.0 (very loose) to 1.0 (very strict).</p>
    <ul>
      <li>integer~</li>
      <li>integer~0.5</li>
      <li>integer~0.4</li>
      <li>integer~0.6</li>
    </ul>
  </div>
  <div class="grid-block advanced-search-modal-footer">
    <button class="button-cancel" zf-close>Close</button>
  </div>
</div>

</div>
