---
name: home
url: /search?query
controller: HomeController as hc
---
<zf-offcanvas position="left"></zf-offcanvas>
<div class="grid-frame vertical">

  <!-- Top Bar -->
  <nav class="title-bar">
    <span class="center">
      <form name="searchForm" class="show-for-medium" ng-submit="hc.search()">
        <span class="inline-label search-label">
          <search-box query="hc.searchQuery" on-select="hc.search()" class="search-box-outer"></search-box>
          <a href="#" class="secondary button" ng-click="hc.search()"><img
            zf-iconic=""
            icon="magnifying-glass"
            data-direction="top"
            size="small"
            class="iconic-color-secondary"></a>
        </span>
      </form>
    </span>
  </nav>
  <nav class="title-bar show-for-small-only">
    <form ng-submit="hc.search()">
      <span class="inline-label search-label">
        <search-box query="hc.searchQuery" class="search-box-outer"></search-box>
        <a href="#" class="secondary button" ng-click="hc.search()"><img
          zf-iconic=""
          icon="magnifying-glass"
          data-direction="top"
          size="small"
          class="iconic-color-secondary"></a>
      </span>
    </form>
  </nav>

  <!-- Main Content Frame -->
  <div class="grid-block vertical" ng-include="'templates/home_main-content-frame.html'"></div>

</div>
