<!--<zf-offcanvas position="left"></zf-offcanvas>-->
<div class="grid-frame vertical">

  <!-- Top Bar -->
  <nav class="title-bar" ng-mouseleave="hc.closeSearchBar()">
    <span class="center">
      <form name="searchForm" >
        <span class="inline-label search-label">
          <a ng-if="$state.current.name == 'home'" href="#" class="button" ng-click="$state.go('cards')">
            <img
              zf-iconic=""
              icon="chevron"
              data-direction="left"
              size="small"
              class="iconic-color-secondary">
          </a>
          <search-box query="hc.searchQuery" on-select="hc.search()" class="search-box-outer"></search-box>
          <a href="#" class="button" ng-click="hc.search()">
            <img
              zf-iconic=""
              icon="magnifying-glass"
              data-direction="top"
              size="small"
              class="iconic-color-secondary">
          </a>
        </span>
      </form>
    </span>
  </nav>

  <!-- Main Content Frame -->
  <div ng-if="$state.current.name == 'home'" class="grid-block vertical" ng-include="'templates/home_main-content-frame.html'"></div>

  <div class="grid-block vertical" ng-if="$state.current.name == 'cards'">
    <facet-pivot-cards  is-loading="vm.isLoading"></facet-pivot-cards>
  </div>
<!--  <div style="
    display: block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 5px solid red;
    background-color: gray;
    trans">
    Authentication...
  </div>-->



<!-- Advanced Search Modal -->

<div zf-modal id="advanced-search-modal" class="advanced-search-modal grid-frame">
  <a zf-close class="close-button">&times;</a>
  <div class="advanced-search-modal-header">
    <h3>Advanced Search</h3>
  </div>
  <div  class="advanced-search-modal-content">
    <p>Find solutions that have...</p>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>All of the words</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.allWords" />
      </div>
    </div>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>Exact phrase</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.exactPhrase" />
      </div>
    </div>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>Any of the words</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.anyWords" />
      </div>
    </div>
    <p>Do not show solutions that have</p>
    <div class="grid-block input-group">
      <div class="medium-4 grid-block input-label">
        <span>Unwanted words</span>
      </div>
      <div class="medium-8 grid-block">
        <input type="text" ng-model="hc.advanced.noWords" />
      </div>
    </div>
  </div>
  <div class="grid-block advanced-search-modal-footer">
    <button zf-close class="button-action" ng-click="hc.formQuery();">Search</button>
    <button class="button-cancel" zf-close>Cancel</button>
  </div>
</div>

  <!-- Search Tips Modal -->

<div zf-modal id="search-tips-modal" class="advanced-search-modal grid-frame search-tips-modal">
  <a zf-close class="close-button">&times;</a>
  <div class="advanced-search-modal-header">
    <h3>Search Tips</h3>
  </div>
  <div  class="advanced-search-modal-content">
    <ul>
      <li>Searching for <b>templates AND course</b> only yields hits in which both the search terms <b>templates</b> and <b>course</b> are present.</li>
      <li>Entering <b>+competency mathematics</b> would result in hits that must contain the term <b>competency</b> and can contain the term <b>mathematics</b>.</li>
      <li>Searching for <b>member NOT group</b> show all hits that include the term <b>member</b> but not the term <b>group</b>.</li>
      <li>Entering <b>didactic -"didactic templates"</b> leads to hits that contain the term <b>didactic</b> but excludes results that include the combination of terms <b>didactic templates</b>.</li>
      <li>If you enter the search term <b>organi?ation</b> you will get hits for both organisation and organization. The <b>?</b> stands as a placeholder for any single letter or number.</li>
      <li>If you search for <b>Politi*</b> you will get, among others, the results Politics, Political, Politician, etc... By entering <b>Lea*ing</b>, you would get, amongst others, the results Learning, Leaving etc... The symbol * stands as a placeholder for multiple, single or zero characters.</li>
    </ul>

  </div>
  <div class="grid-block advanced-search-modal-footer">
    <button class="button-cancel" zf-close>Close</button>
  </div>
</div>

  <!-- Document Modal -->

<div zf-modal id="document-modal" class="grid-frame">
  <a zf-close class="close-button" ng-click="hc.clearDocumentUrl()">&times;</a>
  <iframe  ng-src="{{hc.documentUrl}}" name="iframe" height="100%" width="100%" style="border: none" ></iframe>
</div>

</div>
