<div ng-switch="vm.facetViewType">
  <select ng-switch-when="select" ng-model="vm.selectedOption" ng-change="vm.updateFacetActive(); vm.toggleFacetSelect();">
          <!--ng-options="facet.title for facet in vm.facetCounts"-->
    <option ng-class="{'facet-active': vm.selectedOption == 'All Categories'}" id="{{$index}}">
      All Categories
    </option>
    <option ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter">
      {{facet.title}}
    </option>
  </select>

  <div ng-switch-when="singleChoice" class="singleChoice" ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter" ng-class="{'facet-active':facet.active}">
    <input type="radio" id="{{::facet.hash}}" ng-model="facet.active" ng-click="vm.setSelectedOption(facet.title); vm.toggleFacetSelect()" name="{{facet.title}}">
    <label for="{{::facet.hash}}">{{facet.title}}</label>
  </div>
  <div ng-switch-when="checkbox">
    <div ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount() track by $index" ng-class="{'facet-active':facet.active}">
      <div class="facet-item" ng-class="{'facet-branch':facet.pivots}">
        <a aria-label="Toggle"
           title="Toggle"
           class="view-tree"
           ng-click="vm.toggleFacetPivots(facet)"
           ng-class="{'facet-active':facet.show}"
           ng-if="facet.pivots">
          <i class="view-icon view-icon-collapsed">+</i>
          <i class="view-icon view-icon-expanded">-</i>
        </a>
        <input type="checkbox" id="{{::facet.hash}}" ng-model="facet.active" ng-click="vm.uncheckFacetPivots(facet); vm.toggleFacet(facet)">
        <label for="{{::facet.hash}}">{{facet.title}} ({{facet.amount}}) </label>
      </div>
      <div ng-repeat="pivot in facet.pivots track by $index"
           ng-class="{'facet-active':facet.active}"
           class="hierarchy-level-2"
           ng-if="facet.active || facet.show || vm.activeFacets[facet.title]">
        <input type="checkbox" id="{{::pivot.hash}}" ng-model="pivot.active" ng-click="vm.toggleFacet(pivot)">
        <label for="{{::pivot.hash}}">{{pivot.title}} ({{pivot.amount}}) </label>
      </div>
    </div>
    <a ng-click="vm.toggleMore()"><span ng-if="!vm.more && vm.facetCounts.length > vm.getLimitAmount()">More</span><span ng-if="vm.more">less</span></a>
  </div>
</div>

