<section class="accordion-item" class="block-list" ng-class="{'is-active': vm.active}">
  <div class="accordion-title" ng-click="vm.active = !vm.active">
    {{vm.facetLabel ? vm.facetLabel : vm.facetName}}
    <span ng-click="vm.clearAppliedFilters($event)">Clear all</span>
  </div>
  <div class="accordion-content">
    <ul class="block-list">
      <li>
        <input type="text" ng-model="vm.facetFilter" placeholder="{{vm.facetLabel ? vm.facetLabel : vm.facetName}} filter">
      </li>
      <li ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount()" ng-class="{'facet-active':facet.active}">
        <input type="checkbox" id="{{::facet.hash}}" ng-model="facet.active" ng-click="vm.uncheckFacetPivots(facet); vm.toggleFacet(facet)">
        <label for="{{::facet.hash}}">{{facet.title}} <span>({{facet.amountFormatted}})</span></label>
        <ul>
          <li ng-repeat="pivot in facet.pivots track by $index" ng-if="facet.active" ng-class="{'facet-active':pivot.active}" class="pivot">
            <input type="checkbox" id="{{::pivot.hash}}" ng-model="pivot.active" ng-click="vm.toggleFacet(pivot)">
            <label for="{{::pivot.hash}}">{{pivot.title}} ({{pivot.amount}}) </label>
          </li>
        </ul>
      </li>
      <li class="facet-more-link right" ng-if="vm.facetCounts.length > 5">
        <a ng-click="vm.toggleMore()">{{(vm.facetCounts.length - 5)}} {{vm.more ? 'less' :' more'}}</a>
      </li>
    </ul>
  </div>
</section>
