<div ng-switch="vm.facetLabel">
  <select ng-switch-when="select" ng-model="vm.selectedOption" ng-change="vm.updateFacetActive(); vm.toggleFacetSelect();">
          <!--ng-options="facet.title for facet in vm.facetCounts"-->
    <option ng-class="{'facet-active': vm.selectedOption == 'All Categories'}" id="{{$index}}">
      All Categories
    </option>
    <option ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount()" ng-class="{'facet-active':facet.active}">
      {{facet.title}}
    </option>
  </select>
  <div ng-switch-when="checkbox" >
    <div ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter | limitTo: vm.getLimitAmount() track by $index" ng-class="{'facet-active':facet.active}">
      <input type="checkbox" id="{{::facet.hash}}" ng-model="facet.active" ng-click="vm.toggleFacet(facet)">
      <label for="{{::facet.hash}}">{{facet.title}} </label>
    </div>
    <a ng-click="vm.toggleMore()"><span ng-if="!vm.more">more</span><span ng-if="vm.more">less</span></a>
  </div>
  <div ng-switch-when="singleChoice" class="singleChoice" ng-repeat="facet in vm.facetCounts | filter: vm.facetFilter" ng-class="{'facet-active':facet.active}">
    <input type="radio" id="{{::facet.hash}}" ng-model="facet.active" ng-click="vm.setSelectedOption(facet.title); vm.toggleFacetSelect()" name="{{facet.title}}">
    <label for="{{::facet.hash}}">{{facet.title}}</label>
  </div>
</div>
